<!-- ko with: home -->
<div class="jumbotron">
    <h1>Truly Random</h1>
    <p class="lead">So you need to randomly order a list of things in a 100% secure, immutable, unpredictable, timebound, fair and public way?  You're in the right place</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Unpredictable</h2>
        <p>
            Sometimes we need to order a set of things in an unpredictable way.  
            That is before some point in time, we have no way of being able to guess the order.
            In the past, this was achived through physical chaotic mixing in things like lotteries, tombolas and names-in-hats
            These days, we can use crypotgraphically secure random number generators (CSRNGs) to achieve the same sort of thing.
        </p>
        <p data-bind="text: myHometown"></p>
       
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=273732">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Timebound</h2>
        <p>
            At a specified point in the future, data becomes publically available that finalised the ordering of the population once and for all!
        </p>
    </div>

    <div class="col-md-4">
        <h2>Public</h2>
        <p>There's no need for secrecy or expensive security solutions if the plan is to publish the strategy immediately.</p>

    </div>
</div>

<!-- /ko -->
